<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title id="title">Alfa Fotografia / Boda</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.css">
    <script src="../Js/jquery.js"></script>
    <script src="../Js/prueba.js"></script>
</head>
<body>
    <header class="container">
        <div class="row mt-3">
            <div class="col-6">
                <div class="logo">
                    <a href="../index.html">
                        <img src="../assets/LOGO.png" Logo Alfa Fotografía" width="120">
                        <span>Alfa Fotografía</span>
                    </a>
                </div>
            </div>
            <nav class="col-6">
                <ul>
                    <a><strong>Boda</strong></a>
                    <a href="#">Familia</a>
                    <a href="#">Gastronomia</a>
                    <a href="#">Tu Espacio</a>
                    <a href="#">Mascotas</a>
                    <a href="#">Tu Producto</a>
                </ul>
            </nav>
        </div>
        <hr>
    </header>

    <script src="../Js/bootstrap.bundle.js"></script>
</body>
</html>